<ul class="nav--actions">
    <li class="logged-user">
        Witaj {{ request.user.first_name }}
        <ul class="dropdown">
            <li><a href="{% url 'user_profile' %}">Profil</a></li>
            <li><a href="{% url 'user_profile_edit' %}">Ustawienia</a></li>
            {% if request.user.is_superuser %}
                <li><a href="admin/">Panel administracyjny</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Wyloguj</a></li>
        </ul>
    </li>
</ul>