{% extends 'base.html' %}

{% block slogan %}

    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                Twoje dane
            </h1>

            <div class="slogan--steps">
                <div class="slogan--steps-title">Imię: {{ request.user.first_name }}</div>
                <div class="slogan--steps-title">Nazwisko: {{ request.user.last_name }}</div>
                <div class="slogan--steps-title">Email: {{ request.user.username }}</div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <section class="donations">

        <div class="slogan container">
            <div class="steps">
                <h2>Twoje dary</h2>
            </div>
        </div>

        <ul class="pending-donations">
            {% for donation in user_donations %}
                <li>
                    <h1>"{{ donation.institution.name }}" / worków: {{ donation.quantity }} <button class="btn--archive" value="{{ donation.id }}" type="button">Archiwizuj</button></h1>
                    <p>
                        Data odebrania: {{ donation.pick_up_date}} {{ donation.pick_up_time }} |
                        Kategorie:{% for category in donation.categories.all %}
                        {{ category.name }}
                        {% if not forloop.last %}, {% endif %}

                        {% endfor %}
                    </p>
                </li>
            {% endfor %}
        </ul>

        <ul class="archived-donations" style="color: gray">
            {% for donation in archived_user_donations %}
                <li>
                    <h1>"{{ donation.institution.name }}" / worków: {{ donation.quantity }} (zarchiwizowany)</h1>
                    <p>
                        Data odebrania: {{ donation.pick_up_date}} {{ donation.pick_up_time }} |
                        Kategorie:{% for category in donation.categories.all %}
                        {{ category.name }}
                        {% if not forloop.last %}, {% endif %}

                        {% endfor %}
                    </p>
                </li>
            {% endfor %}
        </ul>

    </section>

{% endblock %}